.custom-navbar {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 40;
  background: transparent;
}

/* Logo */
.my-logo {
  height: 120px;
  border-radius: 50%;
  border: 6px solid #fff;
  margin-top: -40px;
}

/* Menu */
.navbar a {
  color: #fff !important;
  font-size: 16px;
}

/* Apply button */
.apply-btn {
  border: 1px solid #fff;
  padding: 6px 20px;
  border-radius: 8px;
}

/* Mobile call button */
.mobile-call {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mobile-call a {
  background: red;
  color: #fff;
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 13px;
}

/* Mobile */
@media (max-width: 991px) {
  .custom-navbar {
    position: absolute;
    top: 35px;
  }

  .my-logo {
    height: 70px;
    margin-top: -10px;
  }
}
