.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #c91414;
  color: #fff;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  z-index: 999;
}

/* Hover */
.scroll-top-btn:hover {
  background: #a50f0f;
  transform: translateY(-3px);
}

/* Mobile */
@media (max-width: 768px) {
  .scroll-top-btn {
    width: 40px;
    height: 40px;
    right: 15px;
    bottom: 20px;
  }
}